* {
    box-sizing: border-box;
    margin: 0;
}
.container{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container img {
    width: 200px;
}
.dot img {
    width: 30px;
}